/* Estilos gerais para a página */
body {
    font-family: sans-serif;
    background-color: #ffebf5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* O contêiner principal que centraliza nosso conteúdo */
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 600px;
}
button{
    background-color: #ffc3f0;
    border: none;
    padding: 10px;
    border-radius: 10px;

}
button:hover{
    background-color: #ff009d;
    transition: all 0.5s;
    color:#ffffff;
}

h1 {
    color: #f3c1e0;
}

p {
    color: #ee4fb9;
    margin-bottom: 20px;
}

/* Estilizando nossa área de texto (textarea) */
#blocoDeNotas {
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
    resize: vertical; /* Permite que o usuário redimensione a altura */
}

#blocoDeNotas:focus {
    outline: none;
    border-color: #ff009d;
    box-shadow: 0 0 5px rgba(255, 0, 200, 0.5);
}
